<h1>Products</h1>

<div>
    <%= form_tag products_add_path do %>
        <table>
            <tr>
                <td>Item</td>
                <td>:</td>
                <td><%= text_field_tag(:product) %></td>
                <td><%= submit_tag("add to cart") %></td>
            </tr>
        </table>
    <% end %>
</div>
<hr>

<% if session[:cart] %>
    <div>
        <h1>Already there:</h1>
        <% session[:cart].each do |item| %>
            <li><%= item %></li>
        <% end %>
    </div>
<% end %>